#root {
  overflow-x: hidden;
  background-image: url("../public/img/bg.jpg");
  background-size: contain;
  background-position: center;

  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.title {
  display: flex;
  justify-content: center;
}
.score {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  margin-top: 2rem;
}

button {
  background: none;
  border: 2px solid #fff;

  border-radius: 4px;
  background: #e59494;
  color: #f5f2f0;
  font-weight: bold;
  cursor: pointer;

  margin-top: 2rem;
}
button:hover {
  background: #f5eaf0;
  color: #ec4593;
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
